
<div class="container">
  <div class="col-md-9">
    <table class="table table-bordered">
       {{#each rows.[0]}}
            <th class="bg-purple">{{@key}}</th>
        {{/each}}
         <th class="bg-purple">Action</th>
            {{#each rows}}
                    <tr>
                        {{#each this}}
                            <td>
                                <span>
                                   {{this}}
                                </span>
                            </td>
                        {{/each}}
                     <td>
                         <span>
                            <a href="/connection/views/{{#foo this key=../pkcol}}{{/foo}}" type="button" class="button btn btn-info"> 
                                <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="/connection/edit/{{#foo this key=../pkcol}}{{/foo}}  " type="button" class="button btn btn-success"> 
                                <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                            <a href="/connection/delete/{{#foo this key=../pkcol}}{{/foo}}" onclick="return confirm('Are you sure?');" type="button" class="button btn btn-danger"> 
                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a> 
                         </span>   
                    </td>
                    </tr>
            {{/each}}              
    </table> 
       <a href="/connection/add" type="button" class="button btn btn bg-purple">
           <span aria-hidden="true" class="glyphicon glyphicon-plus"> Add New</span> </a> 
  </div>
</div>

