
<div class="container">
    {{#each rows}}
        {{#each this}}
            <div class="form-group">
                <label>{{@key}}</label><span class="list-group-item list-group-item-info">{{this}}</span>
            </div>
        {{/each}}
    {{/each}}
</div>