

a {
  color: #00B7FF;
}

.container{
		padding: 50px;
		margin: 5px;
		border-bottom: 1px dashed #ccc;
}

.content{
	margin-bottom: 0;
}

th, td{
    padding: 5px;
	margin: 5px;
/*
	font-family: lato;
	font-size: 14px;
*/
}

th{
	text-transform: uppercase;
}

tr{
	background: #fff;
}

.highlight
{
  color: #000;	
  background-color: #8ddbf2;
}



li{
	list-style: none;
}

span.label.label-info{
	margin-left: 3px;
	
}

.form-group{
	margin-top: 20px;
	padding: 0 50px;
	width: 50%;
	margin-bottom: 20px;

}

.form-control{
	width: 40%;
}


.table-bordered{
	margin-top: 20px;
}

p{
	font-size: 30px !important;
	font-family:lato;
/*	text-transform: uppercase;*/

}

.list-group-item:last-child {

   width:40%;
   padding-bottom: 20px;
}

 label{
   	font-family: lato;
   	font-size: 17px;

   }

 .btn-info,.btn-danger,.btn-success,.btn-warning,.btn-primary {
   	margin-left:7px !important;
	border-radius: 13px !important;
   }


.btn-default {
	background: #dddddd;
	border-radius: 13px  !important ;
	
}
 
.glyphicon-list {
	font-size: 17px;
    padding-left: 15px;
}
  
 .glyphicon-pencil,.glyphicon-eye-open,.glyphicon-trash,.glyphicon-saved,.glyphicon-plus{
  	color: black;
  }



li.active:foo a{
    color:#9F8AF1;
}

/*
skin-purple .sidebar-menu>li>a.active:foo{
    border-left: 3px solid purple;
    color: #9F8AF1;
}*/

