body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
		padding: 5px;
		margin: 5px;
		border-bottom: 1px dashed #ccc;
		
}


th, td{
	padding: 5px;
	margin: 5px;
	font-family: lato;
	font-size: 16px;
}

th{
	text-transform: uppercase;
}

.highlight
{
 

  color: #fff;	
  background-color: #8ddbf2;
}



li{
	list-style: none;
}

span.label.label-info{
	margin-left: 3px;
	
}

.form-group{
	margin-top: 20px;
}

.form-control{
	width: 40%;
}

.well{

	font-family: lato;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 15px;
}

.table-bordere{
	margin-top: 20px;
}

p{
	font-size: 30px;
	font-family: lato;
	text-transform: uppercase;
}

.list-group-item-info {
   width:40%;
   }

   label{
   	font-family: lato;
   	font-size: 17px;

   }

   .btn-info {
   	margin-left:7px;
	border-radius: 15px;
   }

  .btn-danger {
   	margin-left:7px;
	border-radius: 15px;
   }

  
  .btn-success {
   	margin-left:7px;
	border-radius: 15px;
   }


.btn-default {
	background: #dddddd;
	border-radius: 15px;
	margin-left:7px;
}
  
  
.glyphicon-list:before {
	font-size: 17px;
	margin-right: 7px;
}
  
  .glyphicon-pencil{
  	color:#000;
  }

.glyphicon-eye-open{
	color: #000;
 }

.glyphicon-trash{
	color: #000;
}

.glyphicon-saved{
	color: #000;
	}